* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav ol {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}

nav li {
    list-style-type: none;
    color: white;
    font-size: 20px;
}

.side-bar {
    position: fixed;
    top: 1;
    left: 0;
    width: 350px;
    height: 100vh;

    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar-text {
    font-size: 25px;
    left: 120px;
    bottom: 0;
    position: fixed;
}

.text-area {
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 28, 28);
    color: white;
    text-align: center;
}

.items ol {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    background-color: black;
    left: 50px;
    gap: 15px;
    padding: 15px;

}

.shop-section {
    margin-left: 710px;
    padding: 20px;
    color: white;
    width: 800px;
}

.shop-section h2 {
    margin-bottom: 10px;
    color: black;
    display: flex;
    justify-content: center;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
    /* space between sections */
    background-color: rgba(0, 0, 0, 0.421);
    padding: 10px;
}

.list-container div {
    height: 120px;
    background-color: red;
    border-radius: 8px;
}